@font-face {
    font-family: vazir;
    src: url(/fonts/vazir/zavir.ttf);
}

h1 {
    font-family: vazir;
    direction: rtl;    
}

h2 {
    font-family: vazir;
    direction: rtl;    
}

a {
    font-family: vazir;
    direction: rtl;
    text-align: right;
}

p {
    font-family: vazir;
    direction: rtl;    
    text-align: justify;
}

ul {
    list-style-type: circle;
}

li {
    font-family: vazir;
    direction: rtl;    
    text-align: justify;
    list-style-type: circle;
}

input {
    text-align: left;
}

.gitbook-link {
    text-align: left;
}

.custom-link {
    text-align: left;
}
